@charset "UTF-8";
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* karla-regular - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/karla-v23-latin-regular.woff2") format("woff2"), url("../fonts/karla-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-700 - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/karla-v23-latin-700.woff2") format("woff2"), url("../fonts/karla-v23-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-serif-display-regular - latin */
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */
:root {
  --darc-color:#2C2830;
  --gray-color:#837D88;
  --darc-bloo:#2D2641;
  --bloo-color:#96A9C6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img, svg {
  display: block;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

.overflow {
  overflow: hidden;
}

body {
  font-family: "Karla";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: #F2F2F2;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* site header start */
.site-header {
  position: relative;
}

.header__inner {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  margin-right: auto;
}

.nav {
  display: none;
  width: 32px;
  height: 32px;
  background-image: url(../../images/nav-button.svg);
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 651px) {
  .navbar__btn-link {
    padding: 13px 28px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2C2830;
    border: 1.5px solid #2C2830;
  }
  .navbar__btn-link:hover {
    color: #FFFFFF;
    background-color: #2C2830;
  }
  .navbar__item {
    height: 100%;
    margin-right: 25px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837D88;
  }
  .navbar__item:hover {
    color: #2C2830;
  }
}
@media only screen and (max-width: 650px) {
  .nav {
    display: block;
    border: none;
  }
  .navbar {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 40px 0 300px;
    background-color: #2C2830;
    z-index: 9;
    top: 70px;
    left: 0;
    background-image: url(../../images/decoration-hero.svg);
    background-repeat: no-repeat;
    background-position: 50% calc(0% + 370px);
  }
  .nav--active {
    display: block;
  }
  .close {
    background-image: url(../../images/nav-button-close.svg);
  }
  .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__item {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.36364px;
    color: #FFFFFF;
  }
  .navbar__btn {
    width: 90%;
    padding: 9px 0 7px;
    text-align: center;
    border: 1.5px solid #FFFFFF;
  }
  .navbar__btn-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.36364px;
    color: #FFFFFF;
  }
}
.hero {
  padding: 105px 0 127px;
  background-color: #2D2641;
  background-image: url("../../images/decoration-hero.svg"), url("../../images/decoration-hero.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 635px) calc(0% - 137px), calc(50% - 800px) calc(0% + 414px);
}

.hero__wrapper {
  position: relative;
}

.hero__inner {
  position: relative;
  max-width: 540px;
  width: 50%;
  padding-top: 63px;
}
@media only screen and (min-width: 801px) {
  .hero__inner::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
  }
}

.hero__title {
  max-width: 530px;
  margin-top: 0;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.hero__btn {
  margin-top: 24px;
  padding: 13px 28px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  letter-spacing: 1.5px;
  border: 1.5px solid #FFFFFF;
}
.hero__btn:hover {
  background-color: #fff;
  color: #2C2830;
}

.hero__img {
  position: absolute;
  width: 50%;
  max-width: 540px;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 1050px) {
  .hero {
    padding: 105px 0 127px;
    background-position: calc(50% + 435px) calc(0% - 137px), calc(50% - 400px) calc(0% + 414px);
  }
  .hero__title {
    font-size: 55px;
  }
}
@media only screen and (max-width: 800px) {
  .hero {
    background-position: calc(50% + 435px) calc(0% - 137px), calc(50% - 400px) calc(0% + 414px);
  }
  .hero__wrapper {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__inner {
    min-width: 327px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__title {
    text-align: center;
  }
  .hero__text {
    text-align: center;
  }
  .hero__img {
    position: static;
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .container-mobile {
    padding: 0;
  }
  .hero {
    padding: 0;
    background-position: calc(50% + 435px) calc(0% - 137px), calc(50% - 400px) calc(0% + 414px);
  }
  .hero__wrapper {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__inner {
    min-width: 327px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 93px 20px;
  }
  .hero__title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.666667px;
    color: #FFFFFF;
  }
  .hero__text {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__img {
    position: static;
    width: 100%;
  }
}
.different {
  padding: 305px 0 158px;
}

.different__title {
  margin-bottom: 96px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2C2830;
}
.different__title::before {
  display: block;
  content: "";
  width: 150px;
  height: 1px;
  margin-bottom: 62px;
  background-color: #C396C6;
}

.different__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.different__item {
  position: relative;
  max-width: 350px;
}
.different__item::before {
  display: block;
  content: "";
  width: 86px;
  height: 86px;
  margin-bottom: 32px;
  background-image: url();
  background-color: #96A9C6;
  background-image: url(../../images/molniya.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.different__item:nth-child(2):before {
  background-image: url(../../images/dollor.svg);
}
.different__item:nth-child(3):before {
  background-image: url(../../images/chel.svg);
}
.different__item:not(:last-child) {
  margin-right: 30px;
}

.different__item-title {
  margin-bottom: 16px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.388889px;
  color: #2C2830;
}

.different__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #837D88;
}

@media only screen and (max-width: 710px) {
  .different {
    padding: 140px 0;
  }
  .different__title {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.666667px;
    color: #2C2830;
  }
  .different__title::before {
    margin: 0 auto 40px;
  }
  .different__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .different__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .different__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 56px;
  }
  .different__item-title {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.388889px;
    color: #2C2830;
  }
  .different__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #837D88;
  }
}
.article__inner {
  padding: 70px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../images/article-section.jpg);
  background-size: cover;
  background-position: right;
}

.article__title {
  max-width: 475px;
  margin-right: auto;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 56px;
  letter-spacing: -0.777778px;
  color: #FFFFFF;
}

.btn-link {
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .article__inner {
    padding: 70px 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article__title {
    text-align: center;
    margin: 0 auto;
  }
  .btn-link {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .article__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.555556px;
    color: #FFFFFF;
  }
}
.site-footer {
  margin-top: 150px;
  padding: 64px 0;
  background-color: #FAFAFA;
  background-image: url(../../images/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 550px) calc(50% - 290px);
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 33px;
  border-bottom: 1px solid #DADADA;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-item:not(:last-child) {
  margin-right: 16px;
}

.footer__link {
  width: 24px;
  height: 24px;
  color: #837D88;
}
.footer__link:hover {
  color: #2C2830;
}

.footer__wrapper {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  width: 255px;
  margin-right: 30px;
}

.footer__item-title {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837D88;
}

.footer__item-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #2D2641;
}
.footer__item-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 605px) {
  .site-footer {
    margin-top: 140px;
    padding: 88px 0;
    background-position: calc(50% - 200px) calc(50% - 420px);
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
  .footer__list {
    margin-top: 32px;
  }
  .footer__wrapper {
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    max-width: 255px;
    margin-right: 0;
  }
  .footer__item-list {
    text-align: center;
  }
}
/*
 _______       _            _     _          ______        _                 _ 
(_______)     (_)       _  (_)   | |        (____  \      (_)               | |
 _______  ____ _  ___ _| |_ _  __| |_____    ____)  ) ____ _ _____ ____   __| |
|  ___  |/ ___) |/___|_   _) |/ _  | ___ |  |  __  ( / ___) (____ |  _ \ / _  |
| |   | | |   | |___ | | |_| ( (_| | ____|  | |__)  ) |   | / ___ | | | ( (_| |
|_|   |_|_|   |_(___/   \__)_|\____|_____)  |______/|_|   |_\_____|_| |_|\____|

Auteur: msii(msii.pro@gmail.com) 
_modal.scss(Ɔ) 2022
Description : Saisissez la description puis « Tab »
Créé le :  lundi 8 août 2022, 10:33:16 
Dernière modification : lundi 8 août 2022, 10:33:17
*//*# sourceMappingURL=main.css.map */